<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">
  </div>
</div>
<form class="signup">
  <div class="regis-form">
    <div class="input">
      <h1 id="header">REGISTER</h1>
      <input type="text" class="form-control" id="username" placeholder="ชื่อผู้ใช้ (Username)" name="username" [(ngModel)]="username">
      <input type="password" class="form-control" id="password" placeholder="รหัสผ่าน (Password)" name="password" [(ngModel)]="password">
      <input type="password" class="form-control" id="cfpassword" placeholder="ยืนยันรหัสผ่านอีกครั้ง (Confirm Password)">
      <input type="text" class="form-control" id="name" placeholder="ชื่อ-สกุล" name="name" [(ngModel)]="name">
      <input type="email" class="form-control" id="mail" placeholder="E-Mail" name="email" [(ngModel)]="email">
      <div class="forBtn">
        <button type="submit" class="btn btn-success" (click)="insertDentist()">Register</button>
      </div>
    </div>
  </div>
</form>