<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a [routerLink]="['/']"><img class="nav-brand" src="assets/img/logo.png"></a>
    </div>
    <ul class="nav navbar-nav navbar-right" action="onNavLoad()">
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="['/']">
          Home</a>
      </li>
      <li [routerLinkActive]="['active']">
        <a [routerLink]="['/login']">
          Log In</a>
      </li>
      <li [routerLinkActive]="['active']">
        <a [routerLink]="['/register']">
          Register</a>
      </li>
    </ul>
  </div>
</nav>